.headerContainer {
  background-image: url('../../assets/headerimg.png');
  background-position: bottom;
  display: flex;
  justify-content: space-evenly;
  background-color: #202022;
  height: 260px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.headerContainer img {
  height: 130px;
}

@media (max-width: 390px) {
  .headerContainer img {
    height: 100px;
  }
}
